<!-- PLANTILLA ÍTEM - IMAGEN A LA IZQUIERDA -->
<div class="row rp-b">
	<div class="col-lg-6 col-md-12 animate-box">
		<figure>
			<a href="https://amzn.to/3z5eXFy"></a>
			<img id="nombre" src="images/" alt="nombre" class="img-responsive" onclick="">
			<figcaption style="text-align: center;"><a class="btn btn-warning animate-box" style="color: black; text-decoration: none;font-family: 'Roboto', arial, sans-serif;" href="https://amzn.to/3z5eXFy" target="_blank">Ver precio</a></figcaption>
		</figure>
	</div>
	<div class="col-lg-6 col-md-12 cp-l animate-box text-justify">
		<h2 class="animate-box">Nombre &mdash; <strong> 4,6 de 5 <spam><i class="icon-star"></i></spam></strong></h2>

		<p style="text-align: left; color: darkgray; font-size: medium;"><em>X valoraciones de usuarios</em></p>

		<p></p>

		<p></p>

		<p></p>

		<p></p>
	</div>
	<div class="col-lg-12">
		<div class="col-lg-6 col-md-6 cp-l animate-box">
			<h3 class="animate-box" style="background-color: green; color: white; border-radius: 15px 50px 30px; text-align: center;">Ventajas</h5>
			<div style="font-family: 'Roboto', arial, sans-serif;">
				<p>  
					<br>
					<br>
					<br>

				</p>
			</div>
		</div>

		<div class="col-lg-6 col-md-6 cp-l animate-box">
			<h3 class="animate-box" style="background-color: rgb(192, 40, 40); color: white; border-radius: 15px 50px 30px; text-align: center;">Desventajas</h5>
			<div>
				<p>
					
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 cp-1 animate-box">
		<div class="fh5co-highlight right" style="font-family: 'Playfair Display', times, serif;">
			<h4>Preguntas frecuentes</h4>
			<label><strong></strong></label>
			<label></label><br>
			<label><strong></strong></label>
			<label></label><br>
			<label><strong></strong></label>
			<label></label><br>
			<label><strong></strong></label>
			<label></label><br>
			<label><strong></strong></label>
			<label></label><br>
		</div>
	</div>
</div>

<!-- PLANTILLA ÍTEM - IMAGEN A LA DERECHA -->
<div class="row rp-b">
	<div class="col-lg-6 col-lg-push-6 col-md-12 col-md-push-0 animate-box">
		<figure>
			<a href="https://amzn.to/3Abcc77"></a>
			<img id="nombre" src="images/" alt="nombre" class="img-responsive">
			<figcaption style="text-align: center;"><a class="btn btn-warning animate-box" style="color: black; text-decoration: none;font-family: 'Roboto', arial, sans-serif;" href="https://amzn.to/3Abcc77" target="_blank">Ver precio</a></figcaption>
		</figure>
	</div>
	<div class="col-lg-6 col-lg-pull-6 col-md-12 col-md-pull-0 cp-r animate-box">
		<h2 class="animate-box">Nombre &mdash; <strong> 4,6 de 5 <spam><i class="icon-star"></i></spam></strong></h2>

		<p style="text-align: left; color: darkgray; font-size: medium;"><em>X valoraciones de usuarios</em></p>

		<p></p>

		<p></p>

		<p></p>
	</div>
	<div class="col-lg-12">
		<div class="col-lg-6 col-md-6 cp-l animate-box">
			<h3 class="animate-box" style="background-color: green; color: white; border-radius: 15px 50px 30px; text-align: center;">Ventajas</h5>
			<div style="font-family: 'Roboto', arial, sans-serif;">
				<p> 
					<br>
					
				</p>
			</div>
		</div>

		<div class="col-lg-6 col-md-6 cp-l animate-box">
			<h3 class="animate-box" style="background-color: rgb(192, 40, 40); color: white; border-radius: 15px 50px 30px; text-align: center;">Desventajas</h5>
			<div>
				<p>
					<br>
					
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 cp-1 animate-box">
		<div class="fh5co-highlight right" style="font-family: 'Playfair Display', times, serif;">
			<h4>Preguntas frecuentes</h4>
			<label><strong></strong></label>
			<label></label><br>
			<label><strong></strong></label>
			<label></label><br>
			<label><strong></strong></label>
			<label></label><br>
		</div>
	</div>
</div>